.grid {
    display: grid;

    &__layout {
        grid-template-columns: repeat(22, 1fr);

        .grid__left {
            grid-column: 1/4;
            grid-row: 1/-1;
        }
        .grid__right {
            grid-column: 4/-1;
            grid-row: 1/-1;
            border-left: 3px solid $color-gray;
        }
    }

    &__2cols {
        grid-template-columns: 1fr 1fr;
        gap: 1.6rem;
    }

    &__block {
        grid-column: 1/-1;
    }

    &__style--table {
        width: 105vw;
        grid-template-columns: 5rem 15rem 20rem 10rem 10rem 15rem 25rem 15rem 15rem 15rem 20rem;
        grid-template-rows: 2.4rem;
        padding: 0.8rem 0;

        &:not(:last-child) {
            border-bottom: 3px solid $color-gray;
        }
    }
}
