.icon {
    @include element(1.6rem, 4rem, 4rem, $color-gray-dark);
}

.icon-right {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 1.6rem;
    // border-left: 1px solid $color-gray;
}

.icon-search {
    position: absolute;
    font-size: 1.6rem;
    left: 0;
    padding-left: 1.6rem;
    padding-right: 0.8rem;
    color: rgba($color-gray, 0.9);
}

.icon-arrow {
    padding: 1rem;
    &:hover {
        background-color: $color-tertiary;
        color: $color-black;
        border-radius: 4px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        -ms-border-radius: 4px;
        -o-border-radius: 4px;
    }
}

.icon__menu {
    font-size: 1.8rem;

    &--footer {
        cursor: pointer;
        position: absolute;
        @include element(2rem, 3rem, 3rem, $color-tertiary, $color-gray, 0px);
        bottom: 3rem;
        right: 0;
        padding: 1rem;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
    }
}

.icon-bell {
    position: relative;
    font-size: 2rem;

    &::after {
        content: "";
        @include element(auto, 0.8rem, 0.8rem, auto, $color-red-light, 50%);
        @include transform-element(-0.1rem, auto, -1rem);
    }
}

.icon-xmark {
    position: absolute;
    top: 1.6rem;
    right: 2rem;

    @include element(1.6rem, 2.5rem, 2.5rem, $color-gray);

    &:hover {
        background-color: $color-gray-light-1;
        color: $color-tertiary;
    }
}
