$color-primary: #01b075;
$color-primary-dark: #019160;
$color-primary-light: #2fbe8e;

// $color-secondary: ;

$color-tertiary: #ffffff;

$color-gray: #bbbbbb;
$color-gray-light: #e9ebee;
$color-gray-light-1: #e5e5e5;

$color-black: #000000;
$color-gray-dark: #3c4043;

$color-red-light: #ff4747;

// $color-error: #ffcece;
$color-error: #eb5757;
// $color-exclamation: #ffe7ae;
$color-exclamation: #f1c04e;
// $color-check: #baffe7;
$color-check: #01b075;
// $color-information: #d8eaff;
$color-information: #639cdf;
